.wrap {
  width: 100%;
  text-align: left;
  margin-top: 3em;
}

.note {
  font-family: var(--font-serif);
  font-style: italic;
  font-size: calc(var(--font-scale) * var(--fs-caption));
  line-height: var(--leading-normal);
  color: var(--swatch-3);
}
